# Core ETL
pandas
requests

# Database
sqlalchemy
psycopg2-binary

# AWS
boto3
botocore

# Settings and configuration
pydantic
python-dotenv

# Utils
typing-extensions

# Tests
pytest
pytest-mock

# Optional (para lint e padrões)
flake8
