service: etl-pipeline

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  memorySize: 512
  timeout: 900
  environment:
    S3_BUCKET: ${env:S3_BUCKET}
    API_URL: ${env:API_URL}

functions:
  etl:
    handler: src.main.run_pipeline
    events:
      - schedule:
          rate: cron(0 2 * * ? *)  # daily @02:00 UTC
    iamRoleStatements:
      - Effect: Allow
        Action:
          - s3:PutObject
        Resource:
          - arn:aws:s3:::${env:S3_BUCKET}/*
